@import url("../../global.css");
.contact {
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact h1 {
  font-size: 50px;
  background-color: white;
}
.contact .formContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  
}
.contact .formContainer form {
  width: 25%;
  text-align: left;
}

.contact .formContainer form div{
  margin: 20px 0;
}

.contact .formContainer form div input{
  font-size: 15px;
}

.contact .formContainer form div textarea{
  resize: none;
  font-size: 15px;
}

.contact .formContainer form button {
  background-color: var(--mainColor);
  color: white;
  width: 100%;
}

.contact .formContainer form button:hover {
  color: white;
}

.contact .social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--mainColor);
  width: 100%;
  color: white;
  align-items: center;
  padding: 20px 0 20px 0;
  height: 20%;
}

.contact .social h4 {
  font-size: 20px;
}

.contact .social .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact .social .icons .icon {
  font-size: 80px;
  color: white;
  padding: 20px;
}

.contact .social .icons .icon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {

  .contact h1 {
    font-size: 25px;
  }

  .contact .formContainer form {
    width: 60%;
  }

  .contact .formContainer form div label{
    font-size: 15px;
  }

  .contact .social h4 {
    font-size: 18px;
  }

  .contact .social .icons .icon {
    font-size:70px;
  }
}


@media only screen and (max-width: 425px){
  .contact .formContainer {
    width: 100%;
  }
  .contact .formContainer form{
    width: 90%;
    justify-self: flex-start;
  }
}

@media only screen and (max-width: 375px){
  .contact .formContainer {
    width: 100%;
  }
  .contact .social {
    
  }
}

@media only screen and (max-width: 320px){
  .contact .formContainer form{
    width: 90%;
  }
  .contact .social {
  
  }
}

