@import url("../../global.css");
.works {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: 'white';
  position: relative;
}

.works h1 {
  font-size: 50px;
  position: absolute;
  color: var(--main);
}

.works .arrow {
  height: 50px;
  position: absolute;
  cursor: pointer;
  font-size: 900px;
  background-color: var(--mainColor);
  border-radius: 10px;
  padding: 5px;
  opacity: 0.3;
}

.works .arrow:hover{
  opacity: 1;
}

.works .arrow.left {
  left: 100px;
  transform: rotate(-180deg);
}

.works .arrow.right {
  right: 100px;
}

.works .pages {
  opacity: 0;
}

.works .slider {
  height: 500px;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 0.5s ease-in-out;
  justify-content: flex-end;
}

.works .slider .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.works .slider .container .item {
  width: 800px;
  height: 90%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 1px 2px 15px -1px #000000;
  box-shadow: 1px 2px 15px -1px #000000;
}

.works .slider .container .item .left {
  flex: 4;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works .slider .container .item .left .leftContainer {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.works .slider .container .item .left .leftContainer .imgContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.works .slider .container .item .left .leftContainer .imgContainer .img {
  font-size: 20px;
}
.works .slider .container .item .left .leftContainer h2 {
  font-size: 30px;
}
.works .slider .container .item .left .leftContainer p {
  font-size: 13px;
}
.works .slider .container .item .left .leftContainer span {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid;
  text-align: center;
  background-color: var(--mainColor);
  padding: 10px 0 10px 0;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.works .slider .container .item .left .leftContainer span:hover {
  background-color: white;
}

.works .slider .container .item .left .leftContainer span:hover a {
  color: var(--mainColor);
}

.works .slider .container .item .left .leftContainer span a {
  color: white;
  text-decoration: none;
}

.works .slider .container .item .right {
  flex: 8;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.works .slider .container .item .right img {
  width: 450px;
  height: 65%;
}

@media only screen and (max-width: 768px) {
  .works {
    position: relative;
  }
  .works .arrow {
    height: 5%;
  }

  .works .arrow.left {
    left: 5px;
  }

  .works .arrow.right {
    right: 5px;
  }

  .works .pages {
    opacity: 1;
    position: absolute;
    bottom: 150px;
  }

  .works .pages .dots {
    color: gray;
    padding: 0 5px 0 5px;
  }

  .works .pages .dots .active {
    color: var(--mainColor);
  }

  .works .slider {
    height: 90vh;
    flex-direction: row;
    justify-content: center;
  }

  .works .slider .container{
    width: 400px;
  }

  .works .slider .container .item {
    width: 80%;
    height: 50%;
    margin: 15px 0;
  }

  .works .slider .container .item .left .leftContainer {
    padding-left: 10px;
    justify-content: space-around;
  }

  .works .slider .container .item .left .leftContainer .imgContainer {
    width: 50px;
    height: 50px;
  }

  .works .slider .container .item .left .leftContainer .imgContainer .img {
    width: 100%;
    height: 100%;
  }

  .works .slider .container .item .left .leftContainer h2 {
    font-size: 15px;
  }

  .works .slider .container .item .left .leftContainer p {
    display: none;
  }

  .works .slider .container .item .left .leftContainer span {
    display: none;
    border: none;
    background-color: white;
    color: var(--mainColor);
    text-align: start;
  }

  .works .slider .container .item .left .leftContainer span a {
    color: var(--mainColor);
    text-decoration: underline;
  }

  .works .slider .container .item .right img {
    width: 100%;
    height: 50%;
  }
}
