@import url("../../global.css");

.intro {
  background-color: white;
  display: flex;
  margin-top: 0;
}

.intro .left {
  flex: 0.5;
  overflow: hidden;
}

.intro .left .imageContainer {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  overflow: hidden;
}

.intro .left .imageContainer img {
  width: 90%;
}

.intro .right {
  flex: 0.5;
  position: relative;
}

.intro .right .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro .right .wrapper h1 {
  font-size: 60px;
  margin: 10px 0;
}

.intro .right .wrapper h2 {
  font-size: 35px;
}

.intro .right .wrapper h3 {
  font-size: 30px;
}

.intro .right .wrapper h3 span {
  font-size: inherit;
  color: cornflowerblue;
}

.intro .right a {
  position: absolute;
  bottom: 90px;
  left: 40%;
}

.intro .right a .image {
  font-size: 50px;
  animation: arrowBlink 1s infinite;
}
.cv-download-button {
  position: absolute;
  bottom: 100px;
  left: 70%;
}
@keyframes arrowBlink {
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .cv-download-button {
    position: absolute;
    bottom: 100px;
    left: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro .left {
    flex: 1;
  }
  .intro .left .imageContainer {
    /* display: flex;
    align-items: flex-end;
    justify-content: center;
    float: right;
    border-radius: 0;
    height: '100%'; */
    border-radius: 10px;
    height: 100%;
  }
  .intro .left .imageContainer img {
    width: 800px;
    height: "100%";
  }
  .intro .left .right {
    flex: 1;
  }

  .intro .right .wrapper {
    width: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    align-items: center;
  }

  .intro .right a {
    top: 65%;
  }

  .intro .right .wrapper h1 {
    font-size: 40px;
    margin: 10px 0;
  }

  .intro .right .wrapper h3 {
    font-size: 20px;
  }
  .cv-download-button {
    position: absolute;
    bottom: 25px;
    left: 75%;
  }
}
@media only screen and (max-width: 425px) {
  .cv-download-button {
    position: absolute;
    bottom: 10px;
    left: 65%;
  }
}

@media only screen and (max-width: 375px) {
  .cv-download-button {
    left: 60%;
  }
}
@media only screen and (max-width: 320px) {
  .cv-download-button {
    left: 55%;
  }
}
