@import url("../../global.css");
.timeline {
  background: var(--mainColor);
  font-size: 16px;
  color: rgb(53, 53, 53);
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.title {
  font-size: 50px;
  text-align: center;
  color: white;
  padding-top: 100px;
}

h3 {
  padding-top: 0.25em;
}
.icon {
  margin-top: 4px;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 2em !important;
}

.timeline .timelineContainer {
  height: 100vh;
}

.timeline .timelineContainer .verticalTimeline {
  height: 22%;
  overflow: hidden;
  font-size: 5px;
  color: white;
  border-radius: 10px;
}

.timeline .timelineContainer .verticalTimeline h3 {
  font-size: 20px;
}
.timeline .timelineContainer .verticalTimeline h5 {
  font-size: 16px;
  padding: 0;
}
.timeline .timelineContainer .verticalTimeline p {
  font-size: 12px;
  padding: 0;
}
.vertical-timeline-element-date {
  display: block !important;
  float: none !important;
  margin-top: 1.5em;
  color:white;
}

/* #description {
  margin: 1.5em 0 2em 0;
} */

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.workButton {
  background-color: #06d6a0;
}

.workButton:hover {
  background-color: #0ac593;
}

.schoolButton {
  background-color: #f9c74f;
}

.schoolButton:hover {
  background-color: #f3bc3c;
}

@media only screen and (max-width: 425px) {
  .timeline .timelineContainer .verticalTimeline {
    height: 10%;
    overflow: hidden; 
  }
  .timeline .timelineContainer .verticalTimeline h3 {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  .timeline .timelineContainer .verticalTimeline h5 {
    font-size: 10px;
    padding: 0;
    margin: 0;
  }
  .timeline .timelineContainer .verticalTimeline p {
    font-size: 8px;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .timeline .timelineContainer .verticalTimeline {
    height: 22%;
    overflow: hidden;
    border-radius: 10px;
    width: 95%;
  }
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    margin-top: 1.5em;
  }
  .icon {
    margin-left: 4px;
    margin-top: 4px;
  }
  .title {
    font-size: 30px;
  }
}
