.app {
  height: 100vh;
  position: relative;
}

.app > .sections {
  width: 100%;
  height: 100vh;
  background-color: white;
  /* position: relative; */
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.app > .sections > * {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.cv-button {
  position: "absolute";
  bottom: 10%;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .app > .sections {
    margin-top: 10%;
  }
}
