@import url("../../global.css");
.workcontainer{
    text-align: center;
    position: relative;
    overflow: hidden;
}

.workcontainer h1{
    font-size: 50px;
}

.workcontainer .carouselContainer{
  height: 100vh;
}

.workcontainer .carouselContainer .carousel{
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 70%;
  justify-content:space-between;
  -webkit-box-shadow: 1px 2px 15px -1px #000000;
  box-shadow: 1px 2px 15px -1px #000000;
  border-radius: 10px;
  text-align: center;
  padding: 50px 10px 50px 10px;
}

.workcontainer .carouselContainer .carousel h4{
    padding-bottom: 20px;
}

.workcontainer .carousel .left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.workcontainer .carousel .left div{
    flex: 1;
    padding: 10px;
}
.workcontainer .carousel .left div p{
    font-size: 14px;
}
.workcontainer .carousel .left div button{
    background-color: var(--mainColor);
    color: white;
    padding: 5px 30px 5px 30px;
}

.workcontainer .carousel .left img{
    flex: 1;
}

@media only screen and (max-width: 425px){

    .workcontainer .carouselContainer {
        align-self: flex-start;
        flex: 2;
    }
    .workcontainer h1{
        font-size: 20px;
        flex: 1;
    }
    
    .workcontainer .carouselContainer .carousel{
        height: 90%;
    }
    .workcontainer .carouselContainer .carousel h4{
        display: none;
    }
    .workcontainer .carousel .left div{
        display: none;
    }
    .workcontainer .carousel .left img{
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    .workcontainer .carousel{
        height: 100%;
    }
    .workcontainer .carousel .left div p{
        font-size: 12px;
    }
}
